body {
    font-family: Arial, sans-serif;
    background-color: rgb(39, 93, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.lot-creation-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}
.create-lot-button, .select-lot-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.lot-creation-container button:hover {
    background-color: #45a049;
    cursor: pointer;
}
